:root {
    --quiz-font: 25px;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(3, 3, 41);
    
}

/* Header formatting */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(241 228 238);
    width: 100%;
    height: 50px;
    
}

/* Format for section showing information */
.quiz-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(241 228 238);
    width: 100%;
    height: 200px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    font-size: 15px;

}

/* Format for start button */
.quiz-info #start-button {
    background-color: rgb(3, 3, 70);
    color: white;
    font-size: 20px;
    font-style: bold;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    width: 150px;
    margin-bottom: 10px;
}


.main {
    display: flex;
    
}

/* Two sections on either sides of main section */
#score-section, #time-section {
    display: flex;
    background-color: rgb(241 228 238);
    width: 20%;
    height: 650px;
    
}

#score-section h3 {
    font-size: 25px;
    margin-left: 5px;
}

/* Main section containing questions and answers */
#main-quiz-section {
    display: flex;
    background-color: rgb(213, 176, 224);
    width: 60%;
    flex-direction: column;
    height: 650px;
    font-size: var(--quiz-font);
}

 #question-number {
    visibility: hidden;;
 }

 #question-text {
    visibility: hidden;
 }

 .answer-button {
    visibility: hidden;
    display: block;
 }

 /* Styling for the buttons */
 .answer-button, .goback-button, .clear-button {
    background-color: grey;
    color: white;
    font-size: var(--quiz-font);
    font-style: bold;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    width: 300px;
    margin-left: 20px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: left;
 
 }

 .answer-button:active {
    background-color: rgb(61, 4, 68);
 }


 #question-section {
    display: block;
    height: 400px;
 }

#answer-section {
    display: block;
    visibility: visible;
    height: 50px;
    border-top-width: 1px;
    border-top-style: solid;
    border-color:black;
}

 /* Styling for the dynamic elements to show high scores */
#time-section h3 {
    font-size: 25px;
    margin-left: 5px;
}

.highscore-item {
    font-size: 25 px;
    list-style: none;
    margin-top: 5px;
    margin-left: 20px;
}

.submit-section {
    display: flex;
    flex-direction: row;
    padding:5px;
}

.initial-label, .initial-input, .initial-submit {
    width:150px;
    margin-left: 5px;
}

.initial-submit {
    font-size: 20px;
    border: 2px;
    border-color: black;
    border-width: 2px;
    border-radius: 2px;
}

.lastDiv {
    display: flex;
    flex-direction: row;
}
